@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 32px;
    color: #444;
    margin-bottom: 5px;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 20px;
}

section.image {
    margin: 20px 0;
    padding: 0;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}